<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="form">
      <input type="hidden" name="id" formControlName="id" />
      <div class="row">
        <div class="col-sm-5 form-group d-flex flex-column gap-2">
          <label htmlFor="name">Name</label>
          <input pInputText id="name" formControlName="name" required />
        </div>
        <div class="col-sm-2 form-group d-flex flex-column gap-2">
          <label for="integeronly">Amount</label>
          <input
            type="number"
            pInputText
            inputId="integeronly"
            formControlName="amount"
            pattern="^[1-9]+[0-9]*$"
            [style]="{ width: '100%' }"
            required
          />
        </div>
      </div>

      <div class="row my-2">
        <div class="col-xs-12 d-flex gap-1">
          <p-button
            type="submit"
            label="{{editMode? 'Update' : 'Add'}}"
            icon="pi pi-plus"
            styleClass="p-button-success p-button-sm"
            (onClick)="onAddItem()"
            [disabled]="!form.valid"
          ></p-button>
          <p-button
            label="Delete" (click)="onDelete()"
            icon="pi pi-times" *ngIf="editMode"
            styleClass="p-button-danger p-button-sm"
          ></p-button>
          <p-button
            label="Clear" (click)="onClear()"
            styleClass="p-button-info p-button-sm"
          ></p-button>
        </div>
      </div>
    </form>
  </div>
</div>
