<div class="row my-3">
  <div class="col-xs-12">
    <p-button
      (click)="onNewRecipe()"
      label="New Recipe"
      icon="pi pi-plus"
      styleClass="p-button-success"
    ></p-button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <p-listbox
      [options]="recipes"
      [listStyle]="{ 'max-height': '80vh' }"
      [style]="{ width: '20rem' }"
    >
      <ng-template let-recipe pTemplate="recipe">
        <app-recipe-item [recipe]="recipe"></app-recipe-item>
      </ng-template>
    </p-listbox>
  </div>
</div>
